__pycache__/
*.py[cod]
*.so
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*.log
*.pot
docs/_build/
/assets
/fixtures
/scripts
/old-assets/gene2pubmed.gz
.ipynb_checkpoints
gene-wiki.ipynb