extends base

- load humanize

block content

  .container.head-space-xl
    .row
      .col-md-3.col-md-offset-2
        .list-group
          li.list-group-item
            form(role='form', method='POST', action='/wiki/update/').form-inline.ajax-post
              {% csrf_token %}
              .input-group
                input(type='number', name='update_count', placeholder='Update').form-control
                .input-group-btn
                  button(type='submit').btn.btn-primary
                    | Update

      .col-md-3
        .list-group
          li.list-group-item
            | <strong>Last hour:</strong> {{ updated.hour }}
          li.list-group-item
            | <strong>Last day:</strong> {{ updated.day }}
          li.list-group-item
            | <strong>Last week:</strong> {{ updated.week }}
          li.list-group-item
            | <strong>Last month:</strong> {{ updated.month }}

    .row
      .col-md-8.col-md-offset-2

          table.table.table-striped.table-hover
            - if articles.paginator.count == 0
              tr
                td
                  | No Articles
            - else
              tr
                th
                  | Title
                th
                  | Updated
                th

              - for article in articles
                tr
                  td
                    a(href='https://en.wikipedia.org/wiki/{{article.title}}', target='_blank')
                      | #{ article.title }

                  td
                    | #{ article.updated|naturaltime }

                  td
                    form(role='form', method='POST', action='/wiki/article/{{article.pk}}/update/').form-inline.ajax-post
                      {% csrf_token %}
                      button(type='submit', data-style='zoom-out', data-color='green', data-size='s').btn.btn-sm.btn-success.ladda-button
                        | Run


          .row
            ul.pagination
              - if articles.has_previous
                li
                  a(href='/wiki/page/{{articles.previous_page_number}}')
                    | &laquo;

              li
                a(href='#')
                  | Page {{ articles.number }} of {{ articles.paginator.num_pages }}

              - if articles.has_next
                li
                  a(href='/wiki/page/{{articles.next_page_number}}')
                    | &raquo;


